/* Code tidied up by ScrapBook */
a, a:focus { color: rgb(230, 81, 0); }
a:hover { color: rgb(51, 51, 51); }
a:active { color: rgb(148, 52, 0); }
a.scroll-to-top.ROUND_COLOR, a.scroll-to-top.RECT_COLOR { background-color: rgb(230, 81, 0); }
a.scroll-to-top.ROUND_COLOR:hover, a.scroll-to-top.RECT_COLOR:hover { background-color: rgb(255, 100, 16); }
.btn-default { background-color: rgb(230, 81, 0); border-color: rgb(230, 81, 0); color: rgb(255, 255, 255) ! important; }
.btn-default:hover, .btn-default:active, .btn-default:focus { background-color: rgb(255, 100, 16); border-color: rgb(255, 100, 16); }
.btn-primary { background-color: rgb(0, 178, 144); border-color: rgb(0, 178, 144); }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background-color: rgb(48, 196, 168); border-color: rgb(48, 196, 168); }
.btn-responsive-nav { background-color: rgb(230, 81, 0); }
.btn-responsive-nav:hover { color: rgb(230, 81, 0); border: 1px solid rgb(230, 81, 0); background-color: rgb(255, 255, 255); padding: 4px 7px 2px; }
.logo_and_menu-row { border-top-color: rgb(230, 81, 0); }
.logo-row .logo.colored img, header .line-row { background-color: rgb(230, 81, 0); }
.logo-row .top-callback .phone .fa, .logo-row .top-callback .email .fa { background-color: rgb(230, 81, 0); }
.logo-row .top-callback .email, .logo-row .top-callback .email a:hover { color: rgb(255, 100, 16); }
.mega-menu ul.nav li.active, .mega-menu ul.nav li:hover { background-color: rgb(230, 81, 0); }
.topmenu-COLOR .menu-row { background-color: rgb(210, 74, 0); }
.topmenu-COLOR .mega-menu table td .wrap > a:hover { background-color: rgb(255, 93, 6); }
.topmenu-COLOR .mega-menu table td.active .wrap > a { background-color: rgb(148, 52, 0); }
.menu-row .search-button-div .fa-close:hover { color: rgb(255, 100, 16); }
.breadcrumb a:hover { color: rgb(51, 51, 51); }
.breadcrumb a:active { color: rgb(148, 52, 0); }
.breadcrumb li:hover > a { color: rgb(255, 100, 16); }
.breadcrumb li + li::before { color: rgb(230, 81, 0); }
@media (max-width: 767px) {
}
