/* Code tidied up by ScrapBook */
@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Bold"), url("opensans-bold.woff") format("woff"), url("opensans-bold.ttf") format("truetype");
}
@keyframes popup-window-button-animation {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
