/* Code tidied up by ScrapBook */
.topmenu-COLOR .mega-menu table td .wrap > a { transition: background-color 0.2s ease 0s; }
.mega-menu table td .wrap > a { padding: 16px 20px; }
.mega-menu table td.search-item .wrap > a { padding-top: 14px ! important; }
.wt-content { max-width: 970px; margin: 0px auto; font-size: 16px; }
.wt-content h1, .wt-content h2, .wt-content h3, .wt-content h4, .wt-content h5, .wt-content h6, .wt-content p, .wt-content ul, .wt-content ol, .wt-content blockquote, .srv-wforyou__title { margin: 0px 0px 20px ! important; }
.wt-content h1, .wt-content h2, .wt-content h3, .wt-content h4, .wt-content h5, .wt-content h6 { line-height: 1.15; }
.wt-content p, .wt-content ul, .wt-content ol { line-height: 1.375; }
.wt-content h2 { font-size: 30px; }
.wt-content h3 { font-size: 24px; }
.srv-wforyou__desc.wt-content h1, .srv-wforyou__desc.wt-content h2, .srv-wforyou__desc.wt-content h3, .srv-wforyou__desc.wt-content h4, .srv-wforyou__desc.wt-content h5, .srv-wforyou__desc.wt-content h6, .srv-wforyou__desc.wt-content p, .srv-wforyou__desc.wt-content ul, .srv-wforyou__desc.wt-content ol { margin-bottom: 20px ! important; font-size: 16px ! important; }
.srv-wforyou__btn { margin-top: 10px; }
.srv-wforyou__title { font-size: 30px; }
@media (min-width: 768px) {
  .wt-content h1, .wt-content h2, .wt-content h3, .wt-content h4, .wt-content h5, .wt-content h6, .wt-content p, .wt-content ul, .wt-content ol, .wt-content blockquote, .srv-wforyou__title { margin-bottom: 25px ! important; }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  .wt-content { font-size: 18px; }
  .wt-content h1, .wt-content h2, .wt-content h3, .wt-content h4, .wt-content h5, .wt-content h6, .wt-content p, .wt-content ul, .wt-content ol, .wt-content blockquote, .srv-wforyou__title { margin-bottom: 30px ! important; }
}
