/* Code tidied up by ScrapBook */
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 959px) {
}
@keyframes roistat-lh-circle-anim {
0% { opacity: 0.1; }
50% { opacity: 1; }
100% { opacity: 0.1; }
}
@keyframes roistat-lh-circle-anim {
0% {  }
50% {  }
100% {  }
}
@keyframes roistat-lh-circle-anim {
0% { opacity: 0.1; }
50% { opacity: 1; }
100% { opacity: 0.1; }
}
@keyframes roistat-lh-img-anim {
0% { transform: rotate(0deg) scale(1) skew(0.017rad); }
25% { transform: rotate(0deg) scale(1) skew(0.017rad); }
35% { transform: rotate(-0.3rad) scale(1) skew(0.017rad); }
45% { transform: rotate(0.3rad) scale(1) skew(0.017rad); }
55% { transform: rotate(-0.3rad) scale(1) skew(0.017rad); }
65% { transform: rotate(0.3rad) scale(1) skew(0.017rad); }
75% { transform: rotate(0deg) scale(1) skew(0.017rad); }
100% { transform: rotate(0deg) scale(1) skew(0.017rad); }
}
@keyframes roistat-lh-img-anim {
0% { transform: rotate(0deg) scale(1) skew(0.017rad); }
25% { transform: rotate(0deg) scale(1) skew(0.017rad); }
35% { transform: rotate(-0.3rad) scale(1) skew(0.017rad); }
45% { transform: rotate(0.3rad) scale(1) skew(0.017rad); }
55% { transform: rotate(-0.3rad) scale(1) skew(0.017rad); }
65% { transform: rotate(0.3rad) scale(1) skew(0.017rad); }
75% { transform: rotate(0deg) scale(1) skew(0.017rad); }
100% { transform: rotate(0deg) scale(1) skew(0.017rad); }
}
@keyframes roistat-lh-img-anim {
0% { transform: rotate(0deg) scale(1) skew(0.017rad); }
25% { transform: rotate(0deg) scale(1) skew(0.017rad); }
35% { transform: rotate(-0.3rad) scale(1) skew(0.017rad); }
45% { transform: rotate(0.3rad) scale(1) skew(0.017rad); }
55% { transform: rotate(-0.3rad) scale(1) skew(0.017rad); }
65% { transform: rotate(0.3rad) scale(1) skew(0.017rad); }
75% { transform: rotate(0deg) scale(1) skew(0.017rad); }
100% { transform: rotate(0deg) scale(1) skew(0.017rad); }
}
