/* Code tidied up by ScrapBook */
@media (min-width: 1200px) {
}
@media (max-width: 1169px) {
  a.scroll-to-top:not(.TOUCH) { left: 50%; margin-left: 421px; right: inherit; }
}
@media (max-width: 1025px) {
  a.scroll-to-top:not(.TOUCH) { margin-left: 0px; left: inherit; right: 38px; }
}
@media (max-width: 1008px) {
  .maxwidth-theme { padding-left: 15px; padding-right: 15px; }
}
@media (min-width: 992px) {
  .body_media { top: 2px; }
}
@media (max-width: 991px) {
  .body_media { top: 1px; }
}
@media (min-width: 768px) {
  a.scroll-to-top { display: block ! important; }
  header .nav-main-collapse.collapse { display: block ! important; height: auto ! important; }
  .mega-menu ul.nav { position: static; }
}
@media (max-width: 767px) {
  .body_media { top: 0px; }
  .mega-menu ul.nav { padding-bottom: 0px; }
  header.fixed { position: relative ! important; }
  header.fixed + .main { margin-top: 0px ! important; }
  header.fixed .btn.btn-responsive-nav { margin-top: 6px; }
  header.fixed .logo-row .top-callback { padding-top: 0px; }
  .logo-row { height: 66px; }
  .logo-row .logo { height: 65px ! important; line-height: 57px ! important; }
  .logo-row .logo img { margin-top: 7px; max-height: 39px; width: auto; }
  .logo-row .top-callback .email { display: none ! important; }
  .menu-row.row { height: 0px; }
  .mega-menu { clear: both; float: none ! important; width: 100%; }
  .menu-only { margin: 0px; }
  .search { display: none; }
  .mega-menu .search { display: block; }
  .title-search-result { display: none ! important; }
  .logo-row .top-callback .phone { float: none ! important; position: absolute; width: auto; top: -43px; display: block ! important; z-index: 10; margin: 0px; right: 50px; }
  .logo-row .top-callback .phone .phone-number i, .logo-row .top-callback .phone .phone-desc { display: none; }
  footer { text-align: center; }
  .logo-row .top-callback { padding-top: 0px; }
}
@media (max-width: 650px) {
}
@media (max-width: 600px) {
}
@media (max-width: 530px) {
  .logo-row .top-callback .phone { right: 50px; top: -46px; }
  .logo-row .top-callback .phone .phone-number > div a { font-size: 14px; }
  .logo-row .logo img { max-width: 100%; }
  .logo-row .logo { width: 43%; }
}
@media (max-width: 430px) {
  .logo-row .top-callback .phone { top: -48px; }
  .logo-row .top-callback .phone .phone-number > div a { font-size: 11px; }
}
@media (max-width: 400px) {
}
@media (max-width: 395px) {
}
@media (max-width: 357px) {
}
@media (max-width: 320px) {
}
@media (min-width: 768px) and (max-width: 991px) {
  header.fixed .logo-row .top-callback .email { margin-left: -76px; }
}
@media print {
  a[href]::after { display: none; }
  header .menu-row { display: none; }
  header.fixed { position: static; }
  .logo-row .top-callback { float: left; width: 60%; padding-top: 30px; }
  .breadcrumb { display: none; }
  .btn.btn-responsive-nav { display: none ! important; }
  .logo-row .top-callback .phone { display: block ! important; }
  .logo_and_menu-row { border-color: black ! important; }
  .logo-row .logo { height: 92px ! important; line-height: 87px ! important; }
  .logo-row .logo img { max-height: 50px; margin-top: 0px; }
  .logo-row .top-description { display: block ! important; float: left; width: 40%; }
  footer { min-height: 103px; margin-top: 0px ! important; text-align: left; }
  footer .maxwidth-theme > .col-md-3 { float: left; width: 25%; }
  footer .maxwidth-theme > .col-md-9 { float: left; width: 75%; }
  footer .maxwidth-theme > .col-md-3 { display: block ! important; }
  footer .maxwidth-theme > .col-md-9 > .row > .col-md-3 { width: 100% ! important; text-align: right; }
  .main { padding-bottom: 0px ! important; margin-top: 0px ! important; }
  .logo-row .top-callback { padding-top: 30px ! important; }
  .body { margin-bottom: 0px ! important; min-height: 0px; }
  #panel { display: none ! important; }
}
#footer .col-md-3 { width: 25%; }
.addit-footer-info { background: rgb(68, 68, 68) none repeat scroll 0% 0%; height: 185px; }
.btn:focus { outline: medium none; }
@media (max-width: 991px) {
  #footer .maxwidth-theme { background: rgb(68, 68, 68) none repeat scroll 0% 0%; }
  #footer { background: rgb(53, 53, 53) none repeat scroll 0% 0%; }
}
@media (max-width: 767px) {
  .addit-footer-info { height: auto; }
}
@media (max-width: 530px) {
  .logo-row .top-callback .phone { right: 50px; top: -43px; }
}
@media (max-width: 400px) {
  .logo-row .top-callback .phone { right: 45px; }
  .logo-row .top-callback .phone { font-size: 16px; }
}
@media (max-width: 350px) {
  .logo-row .top-callback .phone { right: 42px; }
  .logo-row .top-callback .phone { font-size: 14px; }
}
