/* Code tidied up by ScrapBook */
.services-section { line-height: normal; }
.services-section :focus { outline: medium none ! important; }
.row._flex { display: flex; flex-wrap: wrap; }
.row._flex::before, .row._flex::after { content: ""; display: none; }
@media (max-width: 1200px) {
  .services-section .maxwidth-theme { width: auto; padding: 0px 15px; }
}
@media (min-width: 1200px) {
}
section.page-top { padding: 40px 0px 25px; }
section.page-top h1 { margin-bottom: 15px ! important; font-weight: 400; font-size: 36px; font-family: "Ubuntu"; color: rgb(41, 41, 40); }
@media (max-width: 600px) {
  section.page-top h1 { font-size: 24px; }
}
.breadcrumb { margin-bottom: 20px; font-size: 12px ! important; }
@media (max-width: 600px) {
  .breadcrumb { font-size: 10px ! important; }
}
.col-vtop { display: inline-block; float: none; vertical-align: top; }
.col-vmid { display: inline-block; float: none; vertical-align: middle; }
.services__inset { padding: 70px 0px 55px; }
.services__inset-title { margin-bottom: 30px; padding: 0px 15px; font-weight: 700; font-size: 30px; font-family: "Ubuntu"; text-align: center; color: rgb(41, 41, 40); }
.services__inset-title._our-prjcts { text-align: center ! important; }
@media (max-width: 991px) {
  .services__inset-title { font-size: 24px; }
}
@media (max-width: 600px) {
}
@media (max-width: 1920px) {
}
@media (max-width: 991px) {
}
@media (max-width: 600px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 500px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@keyframes arrowSecondMove {
0% { bottom: -18px; }
50% { bottom: -22px; }
100% { bottom: -18px; }
}
@keyframes arrowSecondMove {
0% { bottom: -18px; }
50% { bottom: -22px; }
100% { bottom: -18px; }
}
@keyframes arrowSecondMove {
0% { bottom: -18px; }
50% { bottom: -22px; }
100% { bottom: -18px; }
}
@keyframes arrowFirstMove {
0% { bottom: -26px; }
50% { bottom: -30px; }
100% { bottom: -26px; }
}
@keyframes arrowFirstMove {
0% { bottom: -26px; }
50% { bottom: -30px; }
100% { bottom: -26px; }
}
@keyframes arrowFirstMove {
0% { bottom: -26px; }
50% { bottom: -30px; }
100% { bottom: -26px; }
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 991px) {
}
@media (max-width: 600px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.logo_and_menu-row .logo-row .top-callback .phone { margin-right: 0px; }
.logo_and_menu-row .logo-row .logo { height: auto; line-height: normal; }
.logo_and_menu-row .logo .text-under-logo { margin-top: 15px; font-size: 14px; line-height: normal; color: rgb(89, 89, 89); }
.logo-row .top-callback .phone { display: block; float: none ! important; margin-top: 0px; margin-right: 0px; text-align: right; }
.logo-row .top-callback .phone .phone-number { display: inline-block; }
.top-callback .feedback__btn-wrp { text-align: right; }
.logo-row .top-callback .phone .phone-number { font-weight: 700; font-size: 25px; line-height: normal; }
.top-callback .feedback__btn { display: inline-block; min-width: 210px; margin: 12px 0px; padding: 7px 20px; font-weight: 700; font-size: 16px; line-height: 24px; color: white; text-transform: uppercase; text-decoration: none ! important; letter-spacing: 0.1px; background-color: rgb(230, 81, 0) ! important; border: 0px none; }
.top-callback .feedback__btn:hover { background-color: rgb(255, 100, 16) ! important; }
header.fixed .logo_and_menu-row .logo-row .top-callback { float: none; width: 100% ! important; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; padding-top: 0px ! important; text-align: right; }
header.fixed .logo_and_menu-row .logo-row .top-callback .phone { display: inline-block; float: none ! important; margin-right: 0px; padding: 0px; vertical-align: middle; }
header.fixed .logo_and_menu-row .logo-row .top-callback .phone .phone-number { display: inline-block; float: none ! important; margin-top: 0px; margin-right: 10px; padding: 0px; font-size: 16px; vertical-align: middle; }
header.fixed .logo_and_menu-row .logo-row .top-callback .email { display: inline-block; float: none ! important; margin-top: 0px; margin-right: 20px; padding: 0px; font-size: 13px; vertical-align: middle; }
header.fixed .logo_and_menu-row .logo .text-under-logo, header.fixed .logo_and_menu-row .top-callback .feedback__btn { display: none; }
@media (max-width: 767px) {
  .logo_and_menu-row .logo .text-under-logo { display: none; }
  .top-callback .feedback__btn { display: none; }
  .logo_and_menu-row .logo-row .top-callback .phone { top: -8px; }
  .logo_and_menu-row .btn.btn-responsive-nav { top: -9px ! important; }
  .logo_and_menu-row .site-header__col-container { display: flex; -moz-box-pack: justify; justify-content: space-between; -moz-box-align: center; align-items: center; }
  .site-header__col-left { width: 165px; }
  .site-header__col-right { -moz-box-flex: 1; flex-grow: 1; width: auto; }
}
@media (max-width: 530px) {
  .logo_and_menu-row .logo-row .top-callback .phone { top: -11px; }
  .logo_and_menu-row .logo-row .logo { width: 100%; }
  .logo_and_menu-row .logo-row .top-callback .phone .phone-number { font-size: 18px; }
}
@media (max-width: 430px) {
  .site-header__col-left { width: 120px; padding-right: 0px; }
  .site-header__col-right { -moz-box-flex: 1; flex-grow: 1; width: auto; padding-left: 0px; }
  .logo_and_menu-row .logo-row .top-callback .phone .phone-number { font-size: 14px; }
}
#footer .rejrab { margin-bottom: 14px; font-size: 16px; color: rgb(226, 125, 60); }
#footer .kontel { font-size: 24px; }
#footer .mailadress { display: inline-block; margin-top: 52px; font-size: 16px; color: rgb(226, 125, 60); text-decoration: underline ! important; }
#footer .mailadress:hover { text-decoration: none ! important; }
#footer .copyright { margin-top: 5px; font-size: 12px; color: rgb(129, 129, 129); }
#footer .addit-footer-info { height: 200px; background: rgb(68, 68, 68) none repeat scroll 0% 0%; }
#footer .copy, #footer .info { padding: 21px 0px 0px; }
.footer-info { display: flex; -moz-box-pack: justify; justify-content: space-between; -moz-box-align: start; align-items: flex-start; padding: 20px 0px 17px 20px; line-height: 1.4; }
.footer-info__company-name { font-size: 30px; color: rgb(226, 125, 60); }
.footer-info__company-work { font-size: 18px; color: rgb(255, 255, 255); }
.footer-info .feedback__btn { display: inline-block; min-width: 210px; margin: 12px 0px; padding: 7px 20px; font-weight: 700; font-size: 16px; line-height: 24px; color: white; text-transform: uppercase; text-decoration: none ! important; letter-spacing: 0.1px; background-color: rgb(230, 81, 0) ! important; border: 0px none; }
.footer-info .customFormLink:hover { background-color: rgb(255, 100, 16) ! important; }
footer#footer .footer-social { display: flex; -moz-box-pack: justify; justify-content: space-between; -moz-box-align: center; align-items: center; margin-left: 20px; padding-top: 25px; padding-bottom: 25px; border-top: 1px solid rgb(109, 109, 109); }
.footer-social__item { height: 35px; padding-left: 53px; font-size: 16px; line-height: 35px; color: rgb(129, 129, 129); text-decoration: underline ! important; background-repeat: no-repeat; background-position: 0px 0px; }
.footer-social__item:hover { font-size: 16px; color: rgb(255, 255, 255); text-decoration: none ! important; }
.footer-social__item.fb { background-image: url("bg-fb.jpg"); }
.footer-social__item.inst { background-image: url("bg-inst.jpg"); }
.footer-social__item.vk { background-image: url("bg-vk.jpg"); }
.footer-social__item.youtube { background-image: url("bg-youtube.jpg"); }
@media (max-width: 991px) {
  #footer .maxwidth-theme { background: transparent none repeat scroll 0% 0% ! important; }
  .copy-flex { display: flex; -moz-box-align: start; align-items: flex-start; }
  #footer .rejrab { flex-shrink: 0; -moz-box-ordinal-group: 2; order: 1; margin-top: 0px; }
  #footer .kontel { flex-shrink: 0; margin-top: 0px; margin-right: 20px; }
  #footer .mailadress { -moz-box-ordinal-group: 3; order: 2; margin-top: 0px; margin-left: auto; }
  #footer .bottom-line { width: 100% ! important; }
  #footer .copyright { display: block; text-align: center; }
}
@media (max-width: 767px) {
  #footer .footer-info__col-left { text-align: left; }
  .footer-info__col-right { display: none; }
  .footer-social__item { margin-right: 10px; padding-left: 35px; }
  footer#footer .footer-social { -moz-box-pack: center; justify-content: center; }
  .copy-flex { display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-pack: start; justify-content: flex-start; -moz-box-align: center; align-items: center; }
  #footer .mailadress { margin-left: 0px; }
  #footer .rejrab { margin-bottom: 16px; }
  .footer-social__item:last-child { margin-right: 0px; }
  .footer-social__item > span { display: none; }
  #footer .copy { padding: 21px 0px; }
}
@media (max-width: 500px) {
}
header.fixed .logo_and_menu-row .logo-row .top-callback .phone { display: flex ! important; justify-content: flex-end; align-items: center; }
header.fixed .logo_and_menu-row .logo-row .top-callback .email { order: 2; margin-right: 0px; }
header.fixed .logo_and_menu-row .logo-row .top-callback .phone .phone-number { order: 1; margin-right: 15px; }
header.fixed .logo-row .top-callback .phone .phone-desc { order: 0; }
header.fixed .logo_and_menu-row .top-callback .feedback__btn { display: block; margin: 0px; }
header.fixed .top-callback .feedback__btn-wrp { margin-right: 15px; }
@media (max-width: 991px) and (min-width: 768px) {
  header.fixed .logo-row .top-callback .email { margin-left: 0px ! important; }
}
header.fixed .site-header__col-container { display: flex; justify-content: space-between; align-items: center; }
header.fixed .site-header__col-left { width: 140px; }
header.fixed .site-header__col-right { flex-shrink: 1; width: auto; }
@media (max-width: 767px) {
  .logo_and_menu-row .logo-row .logo { height: auto ! important; line-height: normal ! important; text-align: center; }
  .logo_and_menu-row .logo-row .logo img { width: 170px; max-height: none; margin-top: 15px; margin-left: 22px; }
  .logo_and_menu-row .logo-row { height: auto; }
  .logo_and_menu-row .logo .text-under-logo { display: block; margin-top: 12px; }
  .logo_and_menu-row .site-header__col-container { display: block; }
  .logo_and_menu-row .site-header__col-left { display: block; width: 100%; }
  .logo_and_menu-row .site-header__col-right { display: block; text-align: center; }
  .logo_and_menu-row .logo-row .top-callback .phone { position: static; text-align: center; }
  .logo_and_menu-row .logo-row .top-callback .phone .phone-number { margin-top: 10px; }
  .logo_and_menu-row .logo-row .top-callback .phone .phone-number i { display: inline-block; }
  .logo_and_menu-row .top-callback .feedback__btn-wrp { text-align: center; }
  .logo_and_menu-row .top-callback .feedback__btn { display: inline-block; min-width: 270px; }
  .logo_and_menu-row .btn.btn-responsive-nav, .logo_and_menu-row .btn.btn-responsive-nav:hover, .logo_and_menu-row .btn.btn-responsive-nav:focus, .logo_and_menu-row .btn.btn-responsive-nav:active { position: static; display: inline-block ! important; min-width: 270px; padding: 9px 16px 6px; text-align: right; color: rgb(255, 255, 255); background-color: rgb(230, 81, 0); border: 0px none; }
  .logo_and_menu-row .logo-row .top-callback .phone .phone-number { line-height: 25px; }
}
@media (max-width: 530px) {
  .logo_and_menu-row .logo-row .top-callback .phone .phone-number { font-size: 24px; }
}
@media (max-width: 430px) {
  .logo_and_menu-row .logo-row .top-callback .phone .phone-number { font-size: 24px; }
}
@media (max-width: 350px) {
  .logo_and_menu-row .top-callback .feedback__btn, .logo_and_menu-row .btn.btn-responsive-nav, .logo_and_menu-row .btn.btn-responsive-nav:hover, .logo_and_menu-row .btn.btn-responsive-nav:focus, .logo_and_menu-row .btn.btn-responsive-nav:active { width: 100%; min-width: 0px; }
  .logo_and_menu-row .site-header__col-right { padding: 0px 20px; }
}
.site-header__tel { position: relative; font-weight: 500; font-size: 19px; line-height: 19px; text-align: right; color: rgb(34, 34, 34); text-decoration: none; }
.site-header__tel:hover, .site-header__tel:visited, .site-header__tel:focus { color: rgb(34, 34, 34); }
header.fixed .site-header__tel { font-size: 16px; line-height: 16px; }
header.fixed .top-callback .feedback__btn { min-width: 150px; padding: 8px 20px 7px; font-weight: 400; font-size: 11px; line-height: 11px; letter-spacing: 0.5px; }
@media (max-width: 530px) {
  .logo-row .top-callback .phone .phone-number .site-header__tel { font-size: 19px; line-height: 19px; }
  .logo-row .maxwidth-theme .top-callback .phone .phone-number > div { margin: 0px; }
}
.srv-main-top-block__wrp { position: relative; display: block; width: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }
.srv-main-top-block__wrp::before { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgb(0, 0, 0); opacity: 0.5; transition: all 0.2s ease 0s; }
.srv-main-top-block__wrp:hover::before { opacity: 0.3; }
.srv-main-top-block { position: relative; top: 0px; left: 0px; z-index: 1; display: flex; justify-content: flex-start; align-items: center; width: 100%; min-height: 550px; padding: 50px 8%; }
.srv-main-top-block__title { margin-bottom: 30px; font-weight: 400; font-size: 48px; text-align: center; color: white; }
.srv-main-top-block__desc { margin-bottom: 40px; font-weight: 400; font-size: 16px; text-align: left; color: rgb(255, 255, 255); letter-spacing: 1px; }
.srv-main-top-block__desc p { margin-bottom: 15px; }
.srv-main-top-block__btn-wrp { text-align: center; }
.srv-main-top-block__btn-wrp .customFormLink, .srv-main-top-block__btn-wrp .customFormLink:visited, .srv-main-top-block__btn-wrp .customFormLink:active { display: inline-block; min-width: 370px; margin: 0px; padding: 18px 16px 16px; font-weight: 700; font-size: 18px; text-align: center; color: white; text-transform: uppercase; background-color: rgb(210, 74, 0); border: 0px none; }
.srv-main-top-block__btn-wrp .customFormLink:hover { background-color: rgb(255, 100, 16); }
@media (max-width: 1199px) {
  .srv-main-top-block { min-height: 430px; }
  .srv-main-top-block__title { margin-bottom: 15px; font-size: 34px; }
  .srv-main-top-block__desc { margin-bottom: 35px; font-size: 18px; }
  .srv-main-top-block__btn-wrp .customFormLink, .srv-main-top-block__btn-wrp .customFormLink:visited, .srv-main-top-block__btn-wrp .customFormLink:active, .srv-main-top-block__btn-wrp .customFormLink:hover { min-width: 300px; padding: 14px 16px; font-size: 16px; }
}
@media (max-width: 600px) {
  .srv-main-top-block { padding: 40px 20px 47px; }
  .srv-main-top-block__title { font-size: 24px; }
  .srv-main-top-block__desc { margin-bottom: 30px; font-size: 16px; }
  .srv-main-top-block__btn-wrp .customFormLink, .srv-main-top-block__btn-wrp .customFormLink:visited, .srv-main-top-block__btn-wrp .customFormLink:active, .srv-main-top-block__btn-wrp .customFormLink:hover { min-width: 100%; font-size: 15px; }
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 650px) {
}
@media (max-width: 991px) {
}
@media (max-width: 600px) {
}
@media (max-width: 991px) {
}
@media (max-width: 600px) {
}
@media (max-width: 450px) {
}
.srv-text-bottom-block { padding: 60px 0px 30px; font-weight: 400; font-size: 14px; line-height: 1.5; color: rgb(23, 23, 23); }
.srv-text-bottom-block p { margin-bottom: 25px; }
@media (max-width: 991px) {
  .srv-text-bottom-block { padding: 45px 0px 0px; }
  .srv-text-bottom-block p { margin-bottom: 16px; }
}
.srv-wforyou__wrp { padding: 60px 0px 80px; background-color: rgb(247, 247, 247); }
.srv-wforyou__header { display: flex; align-items: center; margin-bottom: 40px; }
.srv-wforyou__header-title { margin-right: 40px; font-weight: 700; font-size: 30px; color: rgb(41, 41, 40); }
.srv-wforyou__tab-header { display: flex; flex-wrap: wrap; }
.srv-wforyou__tab-header-item { position: relative; z-index: 1; display: flex; justify-content: center; align-items: center; min-width: 230px; margin-right: 15px; margin-bottom: 15px; padding: 17px 10px; font-weight: 500; font-size: 18px; color: rgb(110, 110, 110); border: 1px solid rgb(221, 221, 221); }
.srv-wforyou__tab-header-item:visited, .srv-wforyou__tab-header-item:hover, .srv-wforyou__tab-header-item:focus { color: rgb(110, 110, 110); }
.srv-wforyou__tab-header-item._active { z-index: 2; }
.srv-wforyou__tab-header-item._active, .srv-wforyou__tab-header-item._active:visited, .srv-wforyou__tab-header-item._active:focus { color: rgb(255, 255, 255); background-color: rgb(210, 74, 0); border: 1px solid rgb(210, 74, 0); }
.srv-wforyou__tab-header-item._active:hover { background-color: rgb(255, 100, 16); border: 1px solid rgb(255, 100, 16); }
.srv-wforyou__tab-content { display: none; }
.srv-wforyou__tab-content._active { display: block; }
.srv-wforyou__picture { border-radius: 20px; }
.srv-wforyou__picture img { max-width: 100%; border-radius: 20px; }
.srv-wforyou__title { margin-bottom: 12px; font-weight: 700; font-size: 24px; color: rgb(41, 41, 40); }
.srv-wforyou__desc { font-weight: 400; font-size: 16px; line-height: 18px; color: rgb(25, 25, 25); }
.srv-wforyou__desc p { margin-bottom: 16px; }
.srv-wforyou__desc p:last-child { margin-bottom: 0px; }
.srv-wforyou__btn { display: inline-block; min-width: 370px; margin-top: 30px; padding: 18px 16px 16px; font-weight: 700; font-size: 18px; text-align: center; color: white; text-transform: uppercase; background-color: rgb(210, 74, 0); border: 0px none; border-radius: 2px; transition: background-color 0.2s ease 0s; }
.srv-wforyou__btn:hover { background-color: rgb(255, 100, 16); }
.srv-wforyou__btn:visited, .srv-wforyou__btn:hover, .srv-wforyou__btn:focus { color: white; }
@media (max-width: 1300px) {
  .srv-wforyou__header-title { margin-right: 20px; font-size: 22px; }
}
@media (max-width: 991px) {
  .srv-wforyou__wrp { padding: 40px 0px 50px; }
  .srv-wforyou__header-title { margin-right: 20px; margin-bottom: 16px; font-size: 22px; text-align: center; }
  .srv-wforyou__header { display: block; margin-bottom: 27px; text-align: center; }
  .srv-wforyou__tab-header-item { width: 33.33%; min-width: 0px; padding: 14px 5px; font-size: 17px; }
  .srv-wforyou__btn { font-size: 16px; }
  .srv-wforyou__title { margin-bottom: 10px; font-size: 21px; }
}
@media (max-width: 767px) {
  .srv-wforyou__col._picture { margin-bottom: 20px; }
  .srv-wforyou__tab-header-item {  }
}
@media (max-width: 550px) {
  .srv-wforyou__tab-header-item { width: 100%; }
  .srv-wforyou__tab-header { flex-wrap: wrap; }
  .srv-wforyou__btn { width: 100%; min-width: 0px; font-size: 16px; }
}
.calc-sect { padding: 60px 0px 55px; }
.calc-sect__title { margin-bottom: 30px; font-weight: 700; font-size: 30px; text-align: center; color: rgb(41, 41, 40); }
@media (max-width: 1199px) {
  .calc-sect { padding: 50px 0px 45px; }
}
@media (max-width: 991px) {
  .calc-sect__title { margin-bottom: 20px; font-size: 24px; }
  .calc-sect { padding: 35px 0px 25px; }
}
.services__inset._detail-pg { background-color: rgb(247, 247, 247); }
.services__inset._detail-pg .services__inset-title { text-align: left; }
.else-we-may { padding: 60px 0px 50px; }
.else-we-may__inset-title { margin-bottom: 30px; font-weight: 700; font-size: 30px; text-align: center; color: rgb(41, 41, 40); }
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .else-we-may__inset-title { margin-bottom: 20px; font-size: 24px; }
  .else-we-may { padding: 40px 0px 30px; }
}
.slider-3x__item { height: auto ! important; padding: 0px 11px; }
.slider-3x__slider-wrp { position: relative; padding: 0px; }
.slider-3x__item-inner { position: relative; display: block; height: 100%; min-height: 270px; padding: 30px; background-repeat: repeat; background-position: 50% 50%; background-size: cover; }
.slider-3x__item-inner::before { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); transition: all 0.2s ease 0s; }
.slider-3x__item-inner:hover::before { background-color: rgba(0, 0, 0, 0.4); }
.slider-3x .slick-track { display: flex; padding: 0px 0px 20px; }
.else-we-may__inset-title { margin-bottom: 30px; font-weight: 700; font-size: 30px; text-align: center; color: rgb(41, 41, 40); }
.slider-3x__item-title { position: relative; z-index: 1; margin-bottom: 5px; font-weight: 700; font-size: 24px; color: white; }
.slider-3x__item-price { position: relative; z-index: 1; font-weight: 700; font-size: 21px; color: rgb(255, 182, 142); }
.slider-3x .slick-dots li.slick-active button { background-color: rgb(210, 74, 0); }
.slider-3x .slick-dots li button { display: inline-block; width: 15px; height: 15px; margin: 8px; background-color: rgb(215, 215, 215); border: 1px solid rgb(215, 215, 215); border-radius: 50%; }
.slider-3x .slick-dots li.slick-active button { background-color: rgb(210, 74, 0); }
.slider-3x__btn-wrp { position: absolute; bottom: -20px; left: 50%; width: calc(100% - 80px); transform: translateX(-50%); }
.slider-3x__btn { display: block; width: 100%; padding: 12px 5px; font-weight: 700; font-size: 18px; text-align: center; color: white; text-transform: uppercase; background-color: rgb(210, 74, 0); border-radius: 2px; transition: background-color 0.2s ease 0s; }
.slider-3x__btn:hover { background-color: rgb(255, 100, 16); }
.slider-3x__btn, .slider-3x__btn:hover, .slider-3x__btn:focus, .slider-3x__btn:visited { color: white; }
@media (max-width: 1199px) {
  .slider-3x__item-inner { padding: 20px; }
  .slider-3x__item-title { font-size: 20px; }
  .slider-3x__item-price { font-size: 19px; }
  .slider-3x__btn { padding: 12px 5px; font-size: 16px; }
  .slider-3x__btn-wrp { width: calc(100% - 40px); }
}
@media (max-width: 991px) {
  .slider-3x__slider-wrp { padding: 0px; }
  .else-we-may__inset-title { margin-bottom: 20px; font-size: 24px; }
  .else-we-may { padding: 40px 0px 30px; }
}
@media (max-width: 991px) {
}
@media (max-width: 991px) {
}
.communicate-us-wup__section { padding: 40px 0px 35px; background-color: rgb(247, 247, 247); }
.communicate-us-wup__title { font-weight: 400; font-size: 24px; text-align: center; color: black; }
.communicate-us-wup__title a { white-space: nowrap; }
.communicate-us-wup__section a { font-weight: 700; color: rgb(210, 74, 0); }
.communicate-us-wup__section a:visited, .communicate-us-wup__section a:hover { color: rgb(210, 74, 0); }
@media (max-width: 991px) {
}
@media (max-width: 991px) {
}
@media (max-width: 550px) {
}
.serv-all-prj__btn-wrp { margin-top: 30px; text-align: center; }
.serv-all-prj__btn { display: inline-block; min-width: 290px; padding: 20px 20px 21px; font-weight: 700; font-size: 18px; vertical-align: bottom; text-align: center; color: white; text-transform: uppercase; background-color: rgb(210, 74, 0); }
.serv-all-prj__btn:visited, .serv-all-prj__btn:hover { color: white; }
.services__inset._detail-pg .slick-dots, .else-we-may .slick-dots { margin-top: 0px; }
