/* Code tidied up by ScrapBook */
body { background-color: white; font: 13px/20px "Ubuntu",Arial,sans-serif; }
a { text-decoration: none ! important; outline: medium none ! important; }
h1, h2, h3, h4, h5, h6 { letter-spacing: -1px; font-weight: 300; margin: 0px 0px 16px; font-family: "Ubuntu",Arial,sans-serif; }
h1, h2, h3, h4 { font-weight: 500; letter-spacing: normal; }
h1 { font-size: 32px; line-height: 26px; }
h2 { font-size: 28px; line-height: 22px; margin-bottom: 17px; }
h3 { font-size: 24px; line-height: 20px; }
p { margin-bottom: 18px; }
li { line-height: 24px; }
ul, ol { padding-left: 26px; }
.body_media { display: none; position: absolute; }
.btn { text-transform: uppercase; text-decoration: none; margin: 0px 10px 10px 0px; border: 1px solid; border-radius: 2px; font-size: 12px; padding: 7px 12px 8px; overflow: hidden; transition: background-color 0.3s ease 0s; }
.bx-firefox .btn { padding-top: 7px; padding-bottom: 8px; }
.btn > * { transition: background-color 0.3s ease 0s; }
.btn.btn-responsive-nav { top: -46px ! important; position: absolute; right: 0px; color: rgb(255, 255, 255); z-index: 15; padding: 5px 8px 3px; margin: 0px; border: medium none; }
.btn.btn-responsive-nav .fa { font-size: 21px; }
