/* Code tidied up by ScrapBook */
.ab-sidebar .ab-sidebar__link, .ab-sidebar .ab-sidebar__link:hover, .ab-sidebar .ab-sidebar__link:focus, .ab-sidebar .ab-sidebar__link:active, .ab-sidebar .ab-sidebar__link:visited { display: block; border: medium none; outline: medium none; background: transparent none repeat scroll 0% 0%; max-width: none; max-height: none; min-width: 0px; min-height: 0px; opacity: 1; padding: 0px; margin: 0px; text-decoration: none; }
.ab-sidebar {  }
.ab-sidebar .ab-sidebar__link { display: block; background-repeat: no-repeat; position: relative; transition: all 0.3s ease 0s; left: 0px; }
.ab-sidebar__ico { display: block; width: 46px; height: 46px; transition: all 0.5s ease 0s; }
.ab-sidebar__ico-shadow { box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px -3px rgba(0, 0, 0, 0.3); }
.ab-sidebar.ab-position-indiv .ab-sidebar__link { top: 0px; }
.ab-sidebar.ab-animation-none .ab-sidebar__link:hover {  }
.ab-sidebar__ico, .ab-sidebar__ico-color { background-image: url("icons.png"); }
.ab-position-indiv { display: none; }
@media not all, (min-resolution: 192dpi) {
  .ab-sidebar__ico, .ab-sidebar__ico-color { background-image: url("icons@2x.png"); background-size: 230px 368px; }
}
@media screen and (max-width: 767px) {
  .ab-hidden-xs-Y { display: none; }
}
