/* Code tidied up by ScrapBook */
html { overflow-x: hidden; overflow-y: auto; }
html, body { width: 100%; height: 100%; }
body { margin: 0px; }
input { outline: medium none; }
#footer .line { width: 100%; height: 18px; background: rgb(230, 81, 0) none repeat scroll 0% 0%; }
.callback .btn-primary:hover, .btn-primary:active, .btn-primary:focus { background-color: rgb(255, 100, 16) ! important; border-color: rgb(255, 100, 16) ! important; }
.rejrab { font-size: 18px; color: rgb(254, 126, 52); font-weight: bold; margin-bottom: 10px; display: inline-block; }
.kontel { font-size: 20px; color: white; margin-bottom: 10px; display: inline-block; }
.mailadress { display: inline-block; font-size: 16px; color: rgb(150, 155, 165); margin-top: 15px; text-decoration: underline ! important; }
.mailadress:active { color: white; }
.mailadress:hover { color: white; text-decoration: none; }
.copyright { margin-top: 15px; display: inline-block; }
#footer .col-md-3 { width: 27%; }
#footer .col-md-9.col-sm-9 { display: none; }
#footer .col-md-3.col-sm-3 { width: 100%; }
.body { height: auto ! important; margin: 0px auto -171px; min-height: 100%; }
.main { padding: 0px 0px 196px; }
.container { width: 100% ! important; padding: 0px; }
.maxwidth-theme { margin-left: auto ! important; margin-right: auto ! important; max-width: 1008px; position: relative; width: 100%; }
section.page-top > .row, .greyline > .row, .logo_and_menu-row > .row, .main > .row, .container > .row { margin-left: 0px; margin-right: 0px; }
section.page-top > .row > .maxwidth-theme, .greyline > .row > .maxwidth-theme, .logo_and_menu-row > .row > .maxwidth-theme, .main > .row > .maxwidth-theme, .container > .row > .maxwidth-theme { padding: 0px; }
header { clear: both; color: rgb(34, 34, 34); background-color: rgb(255, 255, 255); position: relative; }
header .line-row { height: 2px; margin: 0px; }
.logo_and_menu-row { border-top-width: 2px; border-top-style: solid; }
.logo-row .logo { height: 92px; line-height: 87px; position: relative; z-index: 10; }
.logo-row .logo img { max-height: 50px; }
.logo-row .top-description { color: rgb(149, 151, 154); font-size: 13px; line-height: 16px; padding: 48px 0px 27px; font-weight: bold; }
.logo-row .top-callback { padding: 11px 0px; line-height: 28px; }
.topmenu-COLOR.canfixed.fixed .logo-row .top-description { display: none ! important; }
.logo-row .top-callback .phone { font-size: 20px; margin-right: 17px; margin-top: 20px; }
.logo-row .top-callback .phone .phone-number { font-weight: 500; line-height: 21px; text-align: right; position: relative; }
.topmenu-COLOR.canfixed.fixed .logo-row .top-callback .phone .phone-number .fa.fa-phone { position: relative; left: 0px; }
.logo-row .top-callback .phone .phone-desc { color: rgb(149, 151, 154); font-size: 11px; line-height: 12px; margin-top: -2px; text-align: right; max-width: 310px; margin-bottom: 18px; }
.logo-row .top-callback .email { display: none; margin-right: 22px; }
.logo-row .top-callback .email, .logo-row .top-callback .email a { color: rgb(119, 117, 129); text-decoration: none; }
.logo-row .top-callback .phone .phone-number > div, .logo-row .top-callback .email > div { display: inline-block; vertical-align: top; }
.logo-row .top-callback .phone .phone-number > div a { color: rgb(34, 34, 34); }
.logo-row .top-callback .phone .phone-number > div { margin-top: 2px; }
.logo-row .top-callback .phone .fa, .logo-row .top-callback .email .fa { border-radius: 18px; color: rgb(255, 255, 255); font-size: 16px; margin: 0px 5px; padding: 6px 8px; vertical-align: top; }
@media not print {
  header.fixed { position: fixed; margin: 0px; width: 100%; top: 0px; z-index: 1001; right: 0px; left: 0px; }
  header.fixed > :not(.logo_and_menu-row), header.fixed .logo_and_menu-row > :not(.logo-row) { display: none; }
  header.fixed .logo_and_menu-row { border-top-color: transparent; height: 53px; overflow: hidden; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.137) ! important; }
  header.fixed .logo-row .logo { height: 49px; line-height: 44px; }
  header.fixed .logo-row .logo img { max-height: 37px; }
  header.fixed .logo-row .top-description { padding: 0px; display: inline-block ! important; width: 24%; }
  header.fixed .logo-row .top-callback { padding-top: 0px ! important; width: 85% ! important; float: right; display: inline-block; }
  header.fixed .logo-row .top-callback .phone { padding: 10px 0px; margin-top: 0px; }
  header.fixed .logo-row .top-callback .email { padding: 10px 0px; }
  header.fixed .logo-row .top-callback { padding-top: 11px; width: 100%; }
  header.fixed .logo-row .top-callback .phone .phone-desc, header.fixed .mega-menu table { display: none ! important; }
  header.fixed .logo-row .top-callback .phone { font-size: 16px; }
  header.fixed .logo-row .top-callback .phone .phone-number { margin-top: -2px; }
  header.fixed .logo-row .top-callback .phone .phone-number > div { margin-top: 5px; }
  header.fixed .logo-row .top-callback .email { display: block; margin-top: -2px; }
  header.fixed .logo-row .top-callback .phone .fa, header.fixed .logo-row .top-callback .email .fa { font-size: 14px; height: 25px; line-height: 15px; vertical-align: top; width: 25px; margin-top: 3px; }
  header.fixed .logo-row .top-callback .phone .fa { padding-top: 6px; padding-left: 7px; padding-right: 9px; }
  header.fixed .logo-row .top-callback .email .fa { font-size: 13px; padding-left: 6px; padding-right: 18px; padding-top: 5px; }
  .bx-firefox header.fixed .logo-row .top-callback .email .fa { padding-top: 4px; }
  .bx-firefox header.fixed .logo-row .top-callback .phone .fa, .bx-ie header.fixed .logo-row .top-callback .phone .fa { padding-top: 5px; }
}
.menu-row { position: relative; }
.menu-only { position: relative; }
.mega-menu { position: relative; z-index: 10; }
.mega-menu ul.nav { padding: 0px 0px 60px; clear: both; float: none; position: static; display: block; font-size: 13px; box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3); }
.mega-menu ul.nav li { padding: 0px; margin: 0px; clear: both; float: none; display: block; }
.mega-menu ul.nav li, .mega-menu ul.nav .dropdown-menu { background-color: rgb(236, 239, 241); }
.mega-menu ul.nav li > a { padding: 9px 45px 9px 0px; text-shadow: none ! important; border-top: 1px solid rgb(225, 228, 230); border-bottom: 1px solid transparent; margin: 0px 10px; line-height: 24px; text-decoration: none; position: relative; border-radius: 0px; clear: both; float: none; display: block; background: transparent none repeat scroll 0px 0px; white-space: normal; color: rgb(68, 68, 68); }
.mega-menu ul.nav li:first-of-type > a { border-top: medium none ! important; }
.mega-menu ul.nav li.active > a, .mega-menu ul.nav li:hover > a { border-top: 1px solid rgb(225, 228, 230); border-bottom: 1px solid rgb(225, 228, 230); margin: 0px; padding: 9px 55px 9px 10px; background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.mega-menu ul.nav li.active + li > a, .mega-menu ul.nav li:hover + li > a { border-top: 1px solid transparent; }
.mega-menu ul.nav li > a:focus { background: transparent none repeat scroll 0px 0px; }
.mega-menu table { border-collapse: collapse; border-spacing: 0px; width: 100%; max-width: 100%; }
.mega-menu table a { display: inline-block; width: 100%; text-decoration: none; white-space: nowrap; }
.mega-menu table td { padding: 0px; text-align: center; visibility: hidden; }
.mega-menu table td.dropdown > .wrap { position: relative; }
.mega-menu table td:hover > .wrap > .dropdown-menu { display: block; }
.mega-menu table td > .wrap > a .fa { vertical-align: middle; }
.mega-menu table .tail { display: none; }
.mega-menu table .dropdown-menu { border-radius: 0px; border: medium none; margin: 0px; top: auto; padding: 0px; text-align: left; }
.mega-menu table .more-items > span { display: inline-block; font-size: 19px; height: 12px; line-height: 0; position: relative; vertical-align: top; }
.mega-menu table td.search-item .wrap > a { padding-left: 15px; padding-right: 15px; padding-top: 13px ! important; padding-bottom: 18px ! important; }
.mega-menu table td.search-item .wrap > a .fa { font-size: 15px; }
.mega-menu table td .wrap > a { border: medium none; font-size: 13px; font-weight: bold; line-height: 20px; padding: 15px 20px 16px; position: relative; text-transform: uppercase; color: rgb(255, 255, 255); }
.mega-menu table td:last-child .wrap > a::after { display: none; }
.mega-menu table .more-items { height: 51px; }
.mega-menu table .more-items > span { top: 5px; }
.topmenu-COLOR .mega-menu table .dropdown-menu { background-color: rgb(255, 255, 255); }
.search { background: rgb(224, 231, 236) none repeat scroll 0px 0px ! important; border: medium none; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); height: 60px; padding: 13px 0px; position: absolute; right: 0px; top: 51px; width: 100%; z-index: 9; }
.search form { position: relative; }
.search form::after { border-bottom: 6px solid rgb(224, 231, 236); border-left: 6px solid transparent; border-right: 6px solid transparent; content: ""; height: 0px; margin-left: -4px; position: absolute; right: 15px; top: -19px; width: 0px; z-index: 100; }
.search .search-input-div { padding-right: 121px; width: 100%; }
.search .search-button-div { position: absolute; top: 0px; right: 0px; width: 121px; }
.search .search-input { background: rgb(255, 255, 255) none repeat scroll 0px 0px; border: medium none; color: rgb(68, 68, 68); display: block; height: 34px; line-height: 18px; padding: 0px 10px; vertical-align: top; width: 100%; }
.search .btn-search { border-radius: 1px; float: left; margin-left: 9px; }
.search .fa-close { color: rgb(194, 203, 210); display: block; float: left; font-size: 24px; margin-top: 4px; margin-left: 6px; cursor: pointer; }
.mega-menu ul.nav .search { box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3); right: inherit; top: inherit; width: 100%; display: block ! important; padding: 13px; }
.mega-menu ul.nav .search .search-input-div { padding-right: 74px; }
.mega-menu ul.nav .search .search-button-div { right: 14px; top: 13px; width: 74px; }
div.title-search-result { margin-left: 1px; margin-top: -2px; display: none; overflow: visible; z-index: 9; padding: 0px; border: medium none; }
section.page-top { padding: 26px 0px 24px; min-height: 56px; position: relative; }
section.page-top h1 { margin-bottom: 8px; }
.breadcrumb { font-size: 11px; line-height: 13px; padding: 0px; margin: 0px; list-style: outside none none; background: transparent none repeat scroll 0% 0%; }
.breadcrumb > li, .breadcrumb .active, .breadcrumb a, .breadcrumb > * { text-decoration: none; color: rgb(119, 119, 119); }
.breadcrumb > li { text-shadow: none; }
.breadcrumb > li + li::before { font-family: FontAwesome; content: ""; font-size: 7px; padding: 0px 10px; vertical-align: middle; }
footer { clear: both; color: rgb(150, 155, 165); font-size: 12px; line-height: 18px; min-height: 171px; padding: 0px; position: relative; margin-top: -171px; background: transparent linear-gradient(to right, rgb(53, 53, 53) 50%, rgb(68, 68, 68) 50%) repeat scroll 0% 0%; }
footer > .container { padding-bottom: 0px; }
footer .copy, footer .info { padding: 21px 0px; }
a.scroll-to-top { transition: opacity 0.3s ease 0s; position: fixed; text-align: center; text-decoration: none; display: block; background: rgb(64, 64, 64) url("scroll.png") no-repeat scroll center 14px; width: 44px; height: 44px; border-radius: 50%; right: 23px; left: inherit; bottom: 23px; opacity: 0; z-index: 99 ! important; }
a.scroll-to-top.visible { opacity: 1; }
a.scroll-to-top.ROUND_COLOR, a.scroll-to-top.RECT_COLOR { background-position: center 14px; }
header.fixed .logo_and_menu-row { overflow: visible; }
