/* Code tidied up by ScrapBook */
@media (max-width: 991px) {
  a.scroll-to-top { display: none ! important; }
}
@media (max-width: 767px) {
  header { display: block; }
  button.btn-responsive-nav { top: 15px; }
}
@media (max-width: 479px) {
  body { font-size: 13px; }
  h2 { line-height: 40px; }
}
@media (max-width: 600px) {
}
